
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
     */

.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;

    background: rgb(245, 245, 245);
  }

  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
/* fontssss */

*{
    margin: 0px;
    padding: 0px; 
    font-family: "Fira Sans", serif;     
 
}

/* -------shared styles----- */

.paragraphs{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);

}

/* Nav bar secion */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 24px 160px 24px 160px;

}

.nav-btn{
    width: 116px;
    height: 52px;
    border-radius: 8px;

    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;

}

.nav-btn:hover{
    background-color: rgb(183, 218, 201);
}

/* ------Banner section----- */

.banner{
    display: flex;
    background-color: #C6E4D6;
    margin-left: 160px;
    margin-right: 160px;
    border-radius: 10px;
    /* gap: 64px; */

    width: 1040px;
    height: 560px;
}

.banner-discriptions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 60px 68px 64px 110px ;
    width: 622px;
    height: 326px;
    margin-top: 117px;
    margin-bottom: 117px ;
    /* margin-right: 70px; */
    padding-left: 40px;
 
       
}

.bnr-h1-font{
    font-weight: 600;
    font-size: 30px;
}


 .bnr-btn{
        background-color: #2c564c;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        padding: 17px 34px 17px 34px;
        border-radius: 8px;
        width: 270px;
        height: 50px;
        
 }

.Memorial-flag{
    padding: 80px 60px 80px 0px;

    width: 474.03px;
    height: 400px;
}




/* -------- Pillars of "Bangladesh ------*/

.pillar-of-bd > h1{
    font-size: 35px;
}
.pillar-of-bd{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
}

.pillar-cards{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* align-items: center; */

    margin-top: 30px;
    margin-bottom: 20px;
    gap: 24px;


    
}
.single-pillar-card{

    padding: 30px;

    /* gap: 35px; */
    background-color: #ffffff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    width: 302px;
    height: 200px;


}

.single-pillar-card:hover{
    background-color: rgb(198, 228, 214);
}

/* .pillar-img{

   margin-top: 20px; 
} */

/* .pillar-card-heading{

} */





/* <!-- ------The Vision of Future  ---- --> */

.vision-of-future {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-left:160px ;
    margin-right: 160px;
    margin-top: 30px;
}

.vision-title{
    font-size: 35px;
}
.vision-title-and-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vision-card-title{
    margin-top: 12px;
    margin-bottom: 12px;
}

.vision-All-cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
}

.vision-singl-card-design{
   padding: 20px;
    border-radius: 10px;
   
   gap: 12px;
}
.vision-card-button{

    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 0 ;

    width: 120px;
    height: 38px;
    margin-top: 20px;
}

.btn1{
    background-color: rgb(84, 144, 245)
}
.btn2{
    background-color: rgb(9, 161, 92)

}

.btn3{
    background-color:rgb(255, 194, 57)

}

.vision-caard-1{
    background: rgba(84, 144, 245, 0.2);
}
.vision-caard-2{
    background: rgb(198, 228, 214);
}

.vision-caard-3{
   background-color:  rgb(247, 235, 207);
}




/* <!--  ------ Dr. Muhammad Yunus ----- --> */


.dr-younus{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-right: 160px;

    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fafafa;
    border-radius: 12px;
    border: 1px solid rgba(14, 14, 14, 0.15);

    height: 200px;;
    

    /* background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat ; */

    padding-left: 35px;
    padding-top: 20px;


}

.bg-img-qoute{
     background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
}
.speach-0f-younus{

    /* background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    gap: 12px;

    /* padding: 10px 30px 10px 30px; */
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;

    
}





/* <!--  -----Your Opinion Matters----- --> */






/* -----Recent news stylss---*/

.Recent-news-full{
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-left:160px ;
    margin-right: 160px;
    margin-top: 30px;

}

.recentnews-title-and-disciption{
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* text-align: center; */
}

.rcent-news-title{
    font-size: 35px;
}
.satelite-card-main{
    display: flex;
    gap: 24px;

    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
}

.satelite-card-text-contents{
    
    flex-direction: column;
    gap: 24px;

}

.satelite-img{
    border-radius: 10px;
}

.alzajeera-icon{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.news-description{
    margin-top: 20px;
    margin-bottom: 12px;
}

.recent-news-button{

    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 0 ;

    width: 130px;
    height: 45px;
}


/* -----Recent news stylss---*/

/* Donates t0day styless */

.danate-today{
    display: flex;
    flex-direction: column;
    text-align: center;

   margin-right: 160px;
   margin-left: 160px;
   gap: 30px;

   margin-top: 40px;
}

.donte-text{
    font-size: 35px;
}
.tk-card-container{
    display: flex;
    justify-content: space-between;

    /* margin-top: 30px; */
    gap: 24px;
}

.single-tk-card-design{
    background-color: white;
    border-radius: 15px;
    width: 230px;
    height: 100px;
    padding: 40px;
    
    font-size: 35px;
    text-align: center;   
    
}

.single-tk-card-design:hover{
    background-color: rgb(193, 219, 207);
}

.single-tk-card-design-2{
    background-color: rgb(198, 228, 214);
    border-radius: 15px;
    width: 230px;
    height: 100px;
    padding: 40px;
    
    font-size: 35px;
    text-align: center;   
    
}

.single-tk-card-design-2:hover{
    background-color: rgb(193, 219, 207);
}

.tk-text{
    padding-top:30px  ;
}

.donate-input{
    /* display: block; */
    height: 50px;
    width: 97%;
    padding: 15px;
   
   
    border: 0;
    border-radius: 8px;
}

.donate-btn{
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;

    /* padding: 17px 34px 17px 34px; */
    /* margin-top: 32px; */

    width: 151px;
    height: 45px;

    margin-left: 43%;
}

    /* margin: 0% 50% 0p% 50%; */

/* donat end*/










/* subscribe Newsltter styles */

.Subscribe-newslatter{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */

    margin-left:160px ;
    margin-right: 160px;

    margin-top: 30px;

    background-color: rgb(193, 219, 207);
    border-radius: 15px;

    width: 1020px;
    height: 285px;  
    
}

.sub-newslatter-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
    margin-top: 30px;
    padding-top: 25px;
}

.subscribe-titletext{
    
        font-size: 35px;
    
}

.subscribe-inputbox{
    height: 56px ;
    width: 600px;
    border-radius: 8px 0px 0px 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0;
}

.subscribe-btn{
    width: 150px;
    height: 56px;

    border: 0 ;

    border-radius: 0px 8px 8px 0px;
    margin-right: 25px;
    background-color: rgb(0, 106, 80);
    color: white;
    /* font-size: 16px; */
    margin-left: -4px;
}

/* -----foter section styless---- */

.footer{
    background-color: white ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;

    height: 226px;

    padding: 50px 160px 50px 160px;

}

.foter-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 32px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin-top: 30px;
    gap: 25px;
}
